<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058398770683-asq13qr97n71lo6ko7b5k6n573h7jup9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058398770683-asq13qr97n71lo6ko7b5k6n573h7jup9</string>
	<key>API_KEY</key>
	<string>AIzaSyBpUAJYAFYHosuyrKiy6vI3vyGG0M6n1PQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1058398770683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.t2Dsw</string>
	<key>PROJECT_ID</key>
	<string>t2-dsm-60310</string>
	<key>STORAGE_BUCKET</key>
	<string>t2-dsm-60310.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058398770683:ios:d86c1c207c362e15b6e75e</string>
</dict>
</plist>